* {
	box-sizing: border-box;
  }
  
p{
	color: rgb(5, 5, 5);
		}
/** comentario css
*/
h1{
	border: 2px;
	padding: 20px;
	margin: 20px;
	font-weight: bold;
	color: green;
		}
Header{
	border: 2px solid rgb(32, 16, 179);
	padding: 2px;
	margin: 2px;
	font-weight: bold;
	color: red;
		}	

Section{
	border: 10px solid rgb(238, 165, 8);
	padding: 2px;
	margin: 2px;
	font-weight: bold;
	color: rgb(10, 10, 10);
}
#xd{
	color:darkorchid
}
@media only screen and (max-width: 600px) {
	body {
	  background-color: rgb(188, 209, 216);
	}
}